extends layout.pug

block title
    title Gray Reddit

block content
    div.hotTopContainer
        h1    Welcome to #{username}'s posts
        a(href=`/u/${username}/hot`).hotTop Hot
        a(href=`/u/${username}/top`).hotTop Top 
    
    div.post-wrapper
        ul.post-list
            each post in posts
                li.post
                    h2
                        if post.url
                            a(href=post.url)= post.title
                        else
                            a(href="/post/"+post.id)= post.title
                            
                        p Submitted by 
                            a(href="/u/"+post.user.username)= post.user.username
                            span  in 
                            a(href="/r/"+post.subreddit.name) /r/#{post.subreddit.name}
                        p
                            a(href="/post/"+post.id) Comments  
                            
                        p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                         form(action="/vote", method="POST") 
                            input(type="hidden" name="postId" value=`${post.id}`)
                            button(class="plus" type="submit" name="vote" value="1") 
                            button(class="minus" type="submit" name="vote" value="-1") 
        
                        if post.isImage
                         img(src=post.url, width='50', height='50')